# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# VS Code (optional but recommended)
.vscode/

# PyInstaller
build/
dist/
*.spec

Flavunato/2026-04-09/dist/
Flavunato/2026-04-09/build/
Flavunato/2026-04-09/*.spec

# Optional: packaged binaries
*.exe